.login_form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
    transition: transform .3s;
  }

  .login_form:hover,
  .login_btn:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  .login_btn
 {
    transition: transform .2s;
 }  

 
