/* .medication_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.add_med_btn {
    border-color: green;
    color: green;
    background: transparent;
    font-size: 3.0rem;
    font-family: "Josefin Sans";
    cursor: pointer;
}