.register_form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
  text-align: left;
  transition: transform 0.3s;
}

header {
    text-align: center;
}

.p {
    text-align: center;
}

.register_form:hover,
.register_btn:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.register_btn {
  background: red;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  padding: 10px 15px;
  transition: transform 0.2s;
}

@media (min-width: 280px) and (max-width: 768px) {
    .register_btn {
        font-size: 1rem;
        padding: 5px;
    }
}